#profile-widget-container {
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
	font: 12px 'Noto Sans', sans-serif;		
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	width: 100%;
	color: #736a59;

	-webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

#profile-header {
	border-radius: 3px 3px 0 0;
	background-color: #bab3a5;
	padding: 15px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#user-info {
	display: inline-block;
}

#user-info h1 {
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	line-height: 15px;
}

#user-info h2 {
	color: #736a59;
	margin: 5px 0 0 0;
	font-size: 12px;
	font-weight: 300;
}

#dimension-list {
	padding: 12px 0 12px 0;
	margin: 0;
}

#dimension-list > li {
	list-style: none;
	padding: 10px 12px 10px 12px;
	cursor: pointer;
}

#dimension-list > li:hover,
#dimension-list > li.selected {
	background-color: #f8f3f0;
}

#dimension-list > li.selected {
	border-left: 3px #00cc66 solid;
}

#profile-pic-border {
	border-radius: 50%;
	min-height: 75px;
	min-width: 75px;
	border: 1px solid #736a59;
	margin-right: 10px;	
}

#profile-pic-container {
	display: inline-block;
	height: 65px;
	width: 65px;
	border-radius: 50%;
	background-size: cover;
	transform: translate(5px, 5px);
}

.cat-icon {
	color:  #bcb4a9;
	float: right;
	text-align: center;
	width: 20px;
}

#dimension-list > li.selected .cat-icon {
	color: #f48042;
}